*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    background: url(0-BackgroundOgero.png);
    background-size: cover;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 400px;
    right: 150px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}
.avtar{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: -50px;
    padding: 5px;

}
.wrapper .formbox{
    width: 100%;
    padding: 40px;
}
.formbox h2{
    font-size: 1.5em;
    color: #30353b;
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
}

.inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #30353b;
    margin: 20px 0;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #30353b;
    font-weight: 800;
    pointer-events: none;
    transition: .5s;
}
.inputbox input:focus~label,
.inputbox input:valid~label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #30353b;
    font-weight: 500;
    font-size: 1em;

}
.inputbox .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2px;
    color: #30353b;
    line-height: 57px;
}
.btn{
    height: 45px;
    background: #30353b;
    color: #fff;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 5px;
    box-shadow: rgba(0,0,0,0.4) 0 2px 4px,
    rgba(0,0,0,0.3) 0 7px 11px -3px,
    rgba(0,0,0,0.2) 0 -3px 0 inset;
    transition: all 0.2;
    font-size: 1em;
    cursor: pointer;
}











.bub img{
    width: 70px;
    animation: bub 7s linear infinite;
}
.bub{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
@keyframes bub {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
   
}
.bub img:nth-child(1){
    animation-delay: 2s;
    width: 40px;
}
.bub img:nth-child(2){
    animation-delay: 1s;
    width: 77px;
}
.bub img:nth-child(3){
    animation-delay: 3s;
    width: 50px;
}
.bub img:nth-child(4){
    animation-delay: 4.5s;
    width: 60px;
}
.bub img:nth-child(5){
    animation-delay: 3s;
    width: 45px;
}
.bub img:nth-child(6){
    animation-delay: 6s;
    width: 55px;
}
.bub img:nth-child(7){
    animation-delay: 2s;
    width: 65px;
}






